<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>后台管理页面</title>
  <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap-reboot.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.js"></script>
  <style>
    body {
      padding: 20px;
    }
    *{
      margin: 0;
      padding: 0;
    }
    ul,
    ol {
      list-style: none;
    }

    .ul-typearr {
      overflow-x: hidden;

    }

    .ul-typearr li {
      float: left;
      margin-right: 10px;
      border: 1px solid rgb(215, 0, 49);
      cursor: pointer;
    }

    .ul-typearr li a {
      padding: 5px 10px;
    }
    .table td,.table th{
      text-align: center;
    }
    .ctrl{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: #f2a6a6;
      padding: 20px;
    }
    .addbox{
      position: absolute;
      left: 0;
      top: 0;
      background: #706d6d;
      height: 100%;
      width: 100%;
    }
    .addbox div{
      background: #c47878;
      height: 500px;
      width: 400px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      -ms-align-items: center;
      align-items: center;
    }
    .addbox div label{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      width: 300px;
    }
  </style>
</head>

<body>
  <div id="app">
    <top></top>
    <middle>
    </middle>
    <ctrl></ctrl>
    <addbox></addbox>
  </div>
  <script type="text/javascript">

    let todaySpec = [{
        "Id": 1084,
        "SubjectName": "CHBABY推车 安全出行  欢乐无忧",
        "SujectDesc": "CHBABY推车 安全出行  欢乐无忧",
        "ApplyPlace": "[9]",
        "ApplyLabel": "",
        "PictureUrl": "http://img.boodoll.cn/img/201602/20160214130826_31_chbaby.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "399.00",
        "OriDiscount": "￥399.00起",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1525075693000-0000)\/",
        "EndTime": "\/Date(1528704494000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1525075700913-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525075701323-0000)\/",
        "Sort": 3136,
        "AppClickUrl": "http://m.muyingzhijia.com/Activity/ActivePage?id=1797"
      },
      {
        "Id": 2846,
        "SubjectName": "雅培菁智6罐送保温杯12罐送豪礼",
        "SujectDesc": "雅培菁智6罐送保温杯12罐送豪礼",
        "ApplyPlace": "[9]",
        "PictureUrl": "http://img.muyingzhijia.com/img/201802/20180208113122_10_yp.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "179",
        "OriDiscount": "￥179起",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1524189801000-0000)\/",
        "EndTime": "\/Date(1525399403000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1525067759740-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525075682463-0000)\/",
        "Sort": 3135,
        "AppClickUrl": "http://m.muyingzhijia.com/Activity/ActivePage?id=381"
      },
      {
        "Id": 1041,
        "SubjectName": "口罩专场 和细菌拜拜",
        "SujectDesc": "口罩专场 和细菌拜拜 雾霾天也可以放心出门",
        "ApplyPlace": "[9][14]",
        "ApplyLabel": "",
        "PictureUrl": "http://img.boodoll.cn/img/201601/20160121135917_31_kozhao.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "19.9",
        "OriDiscount": "￥19.9起",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1523353705000-0000)\/",
        "EndTime": "\/Date(1526377706000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1525067798427-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525075682463-0000)\/",
        "Sort": 3134,
        "AppClickUrl": "http://m.muyingzhijia.com/Activity/ActivePage?id=1958"
      },
      {
        "Id": 3218,
        "SubjectName": "爱羽乐新客买一送一",
        "SujectDesc": "爱羽乐新客买一送一",
        "ApplyPlace": "[1][9][12]",
        "PictureUrl": "http://img.muyingzhijia.com/img/201804/20180426095545_10_alula1242.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "88.00",
        "OriDiscount": "￥88.00",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1524672000000-0000)\/",
        "EndTime": "\/Date(1527782399000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1524709410037-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525075682463-0000)\/",
        "Sort": 3133,
        "AppClickUrl": "http://m.muyingzhijia.com/Activity/ActivePage?id=2086"
      },
      {
        "Id": 1930,
        "SubjectName": "Minimoto小米米宝宝棉品",
        "SujectDesc": "触感轻柔 舒适透气",
        "ApplyPlace": "[9]",
        "ApplyLabel": "",
        "PictureUrl": "http://img.boodoll.cn/img/201608/20160805112829_31_mimi.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "19.00",
        "OriDiscount": "￥19.00起",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1522684800000-0000)\/",
        "EndTime": "\/Date(1527782400000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1525017526853-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525075682463-0000)\/",
        "Sort": 3132,
        "AppClickUrl": "http://m.muyingzhijia.com/Activity/ActivePage?id=2082"
      }
    ];

    let todaySell = [{
        "Id": 2998,
        "SubjectName": "捷客每日饼干专场 买就送送饼干",
        "SujectDesc": "捷客每日饼干专场",
        "ApplyPlace": "[9]",
        "PictureUrl": "http://img.muyingzhijia.com/img/201708/20170808105332_10_jk1000.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "13.9",
        "OriDiscount": "￥13.9起",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1524213146000-0000)\/",
        "EndTime": "\/Date(1525509147000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1525186329070-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525239789717-0000)\/",
        "Sort": 3127,
        "AppClickUrl": "http://m.muyingzhijia.com/Activity/ActivePage?id=1789"
      },
      {
        "Id": 3063,
        "SubjectName": "好奇纸尿裤NB66低至55元",
        "SujectDesc": "好奇纸尿裤NB66低至55元",
        "ApplyPlace": "[1][9][10]",
        "PictureUrl": "http://img.muyingzhijia.com/img/201803/20180315163659_10_1182.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "55",
        "OriDiscount": "￥55起",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1523110862000-0000)\/",
        "EndTime": "\/Date(1525616464000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1525186250740-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525239789717-0000)\/",
        "Sort": 3126,
        "AppClickUrl": "http://m.muyingzhijia.com/Search?k=好奇"
      }
    ];

    let boomSell = [{
        "Id": 2998,
        "SubjectName": "Lollacup 洛力卡宝宝吸管杯 小鸡杯  红色",
        "SujectDesc": "如此简单、可爱、实用的小鸡杯，亮丽的颜色和独特的排气孔设计，可以帮助宝宝独立饮水！",
        "ApplyPlace": "[9]",
        "PictureUrl": "http://img.muyingzhijia.com/product/web/toutu/151299111.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "23.9",
        "OriDiscount": "￥23.9起",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1524213146000-0000)\/",
        "EndTime": "\/Date(1525509147000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1525186329070-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525239789717-0000)\/",
        "Sort": 3127,
        "AppClickUrl": "http://m.muyingzhijia.com/Activity/ActivePage?id=1789"
      },
      {
        "Id": 3063,
        "SubjectName": "玛仑菌舍畅敏活性乳酸菌粉固体饮料1.5g*12袋（婴幼儿型）",
        "SujectDesc": "玛仑菌舍畅敏活性乳酸菌粉固体饮料1.5g*12袋（婴幼儿型）新老包装交替",
        "ApplyPlace": "[1][9][10]",
        "PictureUrl": "http://img.boodoll.cn/img/201607/20160708094352_44_35511.jpg",
        "SetDiscountTypeId": 1,
        "SetDiscount": "55",
        "OriDiscount": "￥55起",
        "ReOriDiscount": "",
        "StartTime": "\/Date(1523110862000-0000)\/",
        "EndTime": "\/Date(1525616464000-0000)\/",
        "IsEnable": true,
        "IsDeleted": false,
        "CreateBy": 888,
        "CreateDate": "\/Date(1525186250740-0000)\/",
        "UpdateBy": 888,
        "UpdateDate": "\/Date(1525239789717-0000)\/",
        "Sort": 3126,
        "AppClickUrl": "http://m.muyingzhijia.com/Search?k=好奇"
      }
    ];

    // fetch('http://localhost:88/todayspecial').then(function(res){
    //   console.log(res);
    // });
    let addbox = Vue.component('addbox',{
      template : `<div class="addbox"><div>
          <label>id<input type="text" /></label>
          <label>SubjectName<input type="text" /></label>
          <label>SujectDesc<input type="text" /></label>
          <label>PictureUrl	<input type="text" /></label>
          <label>SetDiscount<input type="text" /></label>
          <label>OriDiscount<input type="text" /></label>
          <label>Ctrl<input type="text" /></label>
          <button>确定</button>
      </div></div>`,
    });
    let tablecomponent = {
      template: `<table class="table">
                <tr>
                  <th>Id</th>
                  <th>SubjectName</th>
                  <th>SujectDesc</th>
                  <th>PictureUrl</th>
                  <th>SetDiscount</th>
                  <th>OriDiscount</th>
                  <th>Ctrl</th>
                </tr>
                <tr v-for="(item,index) in dataarr" :data-idx="index" :key="item.id">
                  <td>{{item.Id}}</td>
                  <td>{{item.SubjectName}}</td>
                  <td>{{item.SujectDesc}}</td>
                  <td>{{item.PictureUrl}}</td>
                  <td>{{item.SetDiscount}}</td>
                  <td>{{item.OriDiscount}}</td>
                  <td ><button :idx="index" @click="deletedata($event)">删除</button></td>
                </tr>
              </table>`,
      data: () => ({
        dataarr: todaySpec
      }),
      methods: {
        insert() {},
        deletedata(event) {
          let idx = event.target.getAttribute("idx");
          let id = event.target.getAttribute("idx");
          console.log(this.dataarr[idx].Id);
          fetch('http://localhost:88/deletedata/'+this.dataarr[idx].Id).then((res)=>{
            if(res.status == 200 ){
              console.log(res);
              return res.json();
            }
          },err=>{
            console.log(err);
          }).then(res=>{
            console.log(res);
          })
        },
        updata() {}
      }
    };

    let typearr = [{
        name: "今日专场"
      },
      // {
      //   name: "今日特卖"
      // },
      // {
      //   name: "精选爆款"
      // }
    ];

    Vue.use(VueRouter);

    let routes = [];

    routes.push({
      path: '/tabledata',
      component: tablecomponent
    });

    let router = new VueRouter({
      routes
    });

    let app = new Vue({
      el: "#app",
      router,
      components: {
        top: {
          template: `
          <h1>母婴之家后台管理系统v1.0</h1>
          `
        },
        middle: {
          template: `
          <div><ul class="ul-typearr">
              <li v-for="item in typearr" :key="item.name" :name="item.name" @click="changedata($event)">
                {{item.name}}
              </li>
            </ul>
            <router-view></router-view>
          </div>`,
          data: function() {
            return {
              typearr
            }
          },
          methods: {
            changedata(event) {
              let name = event.target.getAttribute('name');
              // console.log(name);
              switch (name) {
                case '今日专场':
                  this.$children[0].dataarr = todaySpec;
                  break;
                case '今日特卖':
                  console.log(this);
                  this.$children[0].dataarr = todaySell;
                  break;
                case '精选爆款':
                  this.$children[0].dataarr = boomSell;
                  break;
                default:
                  break;
              }
              this.$router.push('tabledata');
            }
          }
        },
        ctrl:{
          template:`<div class="ctrl">
            <button>增加</button>
          </div>`
        }
      }
    });
  </script>
</body>

</html>
