.reg_header{
    height: 0.693333rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    line-height: 0.693333rem;
    margin-top: 0.333333rem;
}
.reg_header a{
    flex:20%;
    text-decoration:none;
    font-size:0.426667rem;
}
.reg_header span{flex:60%;}
.reg_main{padding:0 0.426667rem;margin-top: 0.426667rem;text-align: center;}
.reg_main input{
    width: 4.133333rem;
    height:0.8rem;
    border:none;
    border-bottom:0.013333rem solid #FE7E00;
    color:#DAD2D2;
    font-size: 0.24rem;
    text-align: left;
    /*position:relative;*/
}
.reg_main .reg_code{
    display:inline-block;
    width:1.066667rem;
    height:0.533333rem;
    color:#fff;
    line-height:0.533333rem;
    position: absolute;
    top:3.173333rem;
    right:0.426667rem;
    background-color: #FE7E00;
    border-radius:0.133333rem;
    font-size: 0.186667rem;
}

.reg_btn{
    width: 4.133333rem;
    height:0.8rem;
    background-color: #FE7E00;
    line-height:0.8rem;
    margin-top: 0.2rem;
    border-radius: 0.133333rem;
    color:#fff;
}
.reg_footer{text-align: center;margin-top: 0.666667rem;}
.reg_footer span{
    display:inline-block;
    width:0.213333rem;
    height:0.213333rem;
    color:#FE7E00;
    border:0.013333rem solid #FE7E00;
    line-height: 0.213333rem;
    font-size: 0.213333rem;
    font-weight: bold;
}
.reg_footer a{
    /*display:inline-block;*/
    font-size: 0.186667rem;
    margin-left: 0.133333rem;
    vertical-align: middle;
    color:#FE7E00;
}
.pop{
    position: absolute;
    width:2.666667rem;
    height:1.333333rem;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height:1.333333rem;
    font-size: 0.186667rem;
    background-color: #DEEFE5;
    border-radius:0.133333rem;
    box-shadow: 0 0 0 20000000px rgba(0, 0, 0, 0.5);
}
.pop p{
    width:100%;
    height:50%;
    line-height: 0.666667rem;
    border-bottom:0.013333rem solid #fff;
}
.pop span{
    display:block;
    width:100%;
    height:50%;
    line-height: 0.666667rem;
}