.mian3{height: 1500px;background: #E3E3E3;}
.mian3 .jr{font-size:26px;padding-top:50px;display:flex;justify-content:center;padding-bottom:20px;}
.mian3 .jr li:nth-child(2){margin:0 10px;}
.mian3 .mian3_1{margin-bottom:15px;}
.mian3 .mian3_1_1{width: 520px;height: 200px;background:yellow;margin-left:10px;}
.mian3 .mian3_1_1 img{width: 100%;height: 200px;}
.mian3 .mian3_1 .xq{display:flex;justify-content:space-between;background:#fff;margin-left:10px;margin-right:10px;padding-top:15px;padding-bottom: 10px;}
.mian3 .mian3_1 .xq li:nth-child(2){color:red;}